.home-page {
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap');

  body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
  }
  h1, h2, h3 {
    font-weight: 300;
    font-family: 'Lato', sans-serif;
  }
  h1 {
    margin-bottom: 20px;
    color: #fff;
    font-size: 4em;
    word-spacing: 4px;
    letter-spacing: 1px;
    // text-align: center;
  }
  h2 {
    font-size: 2em;
    word-spacing: 2px;
    // text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
  }

  .home-header {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://img.freepik.com/free-vector/people-with-mobile-phones-using-smart-voice-assistant-software-man-woman-near-screen-with-microphone-soundwaves-sound-recording-app-interface-ai-technology-concept_74855-10131.jpg?w=1280);
    background-size: center;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
  }

  .hero-text-box {
    position: absolute;
    top: 40%;
    // left: 33%;
    // transform: translate(-50%, -50%);
    // width: 1140px;
    // padding: 0 2%;
  }

  .btn {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
  }
  .btn-full:link,
  .btn-full:visited {
    // background-color: #A44200;
    // border: 1px solid #A44200;
    background-color: #464D77;
    border: 1px solid #464D77;
    color: #fff;
    margin-right: 8px;
  }

  .btn:hover,
  .btn:active {
    // background-color: #8d3800;
    background-color: #576092;
  }

  .btn-ghost:link,
  .btn-ghost:visited {
    // border: 1px solid #A44200;
    // color: #A44200;
    border: 2px solid #464D77;
    // color: #464D77;
    color: #fff;
  }

  .btn-ghost:hover,
  .btn-ghost:active {
    // border: 1px solid #8d3800;
    border: 1px solid #576092;;
    color: #fff;
  }

}
