.container-payments {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  border-radius: 8px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  height: 180px;
}

.container-payments {
  .row {
    background-color: white;
    font-family: "Lato", sans-serif;
    width: 600px;
    height: 80px;
  }
  .col img {
    width: 60px;
  }
}
