// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .hero-text-box {
    text-align: center;
    padding-left: 10%;
  }
  h1 {
    font-size: 3em !important;
  }
  h2 {
    font-size: 1.5em !important;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  h1 {
    font-size: 3em !important;
  }
  h2 {
    font-size: 1.5em !important;
  }
  .hero-text-box {
    text-align: center;
    padding-left: 8%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  h1 {
    font-size: 3.5em !important;
  }
  h2 {
    font-size: 2em !important;
  }
  .hero-text-box {
    text-align: center;
    // padding-left: 18%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .hero-text-box {
    text-align: center;
    padding-left: 12%;
  }

}
