// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  // .home-header {
  //   background-size: cover;
  //   background-repeat: no-repeat;
  // }
  .hero-text-box {
    text-align: center;
    padding-left: 10px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  // .home-header {
  //   background-size: contain;
  //   background-repeat: no-repeat;
  // }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .hero-text-box {
    text-align: center;
    // padding-left: 20px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .hero-text-box {
    text-align: center;
    padding-left: 20px;
  }

}
