$official-orange: #A44200;
$official-purple: #613F75;
$official-white: #FFFCF2;
#recording-studio-body {
  // height: 100vh;
  padding: 10px 0;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://res.cloudinary.com/dqco8z2dj/image/upload/v1646563010/recording_studio_tkzg5o.jpg);
  // background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://res.cloudinary.com/dqco8z2dj/image/upload/v1646617547/recording_studio2_dxdpd0.jpg);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  h1, h2, h3, p, h4 {
    text-align: center;
    // color: #fff;
    font-family: 'Lato', sans-serif !important;
    font-weight: 300;
    margin: 0.2rem 0;
  }
  h1 {
    text-shadow: 1px 1px 2px $official-orange, 0 0 1em $official-purple, 0 0 0.2em $official-white;
  }
  h3 {
    font-weight: 400;
  }
  i {
    text-align: center;
  }
  .big-icon {
    font-size: 8rem;
  }
  .medium-icon {
    font-size: 4rem;
  }
  .entry {
    border: 1px solid black;
    background-color: white;
    padding: 20px;
    margin: 20px;
  }
  .playbox {
    border: 1px solid black;
    background-color: white;
    padding: 60px 20px;
    margin: 20px;
  }
  #thicc {
    border: 5px solid grey;
  }
  textarea, input {
    border-radius: 5px;
  }
  textarea {
    height: 150px;
  }
}

.audio-button {
  background-color: rgba(0,0,0,0);
  padding: 0;
  border-width: 0px;
  border-style: none;
  border-color: none;
  border-image: none;
  color: #FFFCF2;
}

.audio-button:hover {
  // color: #1d1d1d;
  color: #c9c9c9;
}

.recording-card {
  padding: 25px;
  background-color: #FFFCF2;
  border-radius: 10px;
}

.correction-details {
  background-color: #F4F4F4;
  border-radius: 10px;
  border: 1px solid #CED4DA;
}
.btn-purple {
  background-color: $official-purple;
  color: white;
}
.btn-orange {
  background-color: $official-orange;
  color: white;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  textarea {
    height: 100px !important;
  }
  .big-icon {
    font-size: 6rem;
  }
  #recording-studio-body h1 {
    font-size: 24px;
  }
  #recording-studio-body h3 {
    font-size: 18px;
  }
  #recording-studio-body {
    // height: 135vh;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  textarea {
    height: 100px !important;
  }
  .big-icon {
    font-size: 6rem;
  }
  #recording-studio-body h1 {
    font-size: 24px;
  }
  #recording-studio-body h3 {
    font-size: 16px;
  }
  #recording-studio-body {
    // height: 135vh;
  }
}

html{
  background-color: #454D77;
}

#recording-studio-body h1, #recording-studio-body .h1{
  margin-top: 90px;
}
