.card-order {
  background-color: white;
  font-family: 'Lato', sans-serif;
  width: 100%;

  p {
    color: #662D91;
  }

  h2{
    color: #662D91;
    font-family: 'Lato', sans-serif;
  }

  .badge{
    background-color: #662D91;
  }

  .text-dark{
    color: #662D91;
  }

  img{
    width: 60px;
  }

  .row{
    display: block;
  }
}

.card-contents{
  text-align: start;
}
