#one-speech-body {
  background-color: #DDD;
  height: 100vh;
}

#title-box {
  background-color: rgb(56, 55, 55);
  color: white;
  width: 20%;
  text-align: center;
}

.text-end{
  margin: 40px;
}

#student_speech {

  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
