.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}


.card-product .card-product-infos {
  padding: 16px;
}

.card-product .card-product-infos-avatar {
  padding: 16px;
  flex-grow: 0;
  .avatar{
    width: 60px;
    border-radius: 50%;
  }
}
