body{
  background-color: #FFFCF2;
}


.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .flex-container {
  padding: 16px;
}

.card-product .avatar-large {
  width: 56px;
  border-radius: 50%;
}


.speech-card {
  position: relative;
  padding: 25px;
  border-radius: 8px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  background: white;
  height: 300px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.container-speech{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .container-speech {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container-speech {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container-speech {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container-speech {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container-speech {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.status-pill {
  border: 1px solid black;
  background-color: #576091;
  color: white;
  border-radius: 10px;
  padding: 2px 5px;
  position: absolute;
  top: 5px;
  left: 5px;
  &.recorded{
    background-color: #FF725C;
  }
}

.status-display {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 8px;
  font-size: 20px;
}

.btn-success{
  background-color: #FF725C;
  color: white;
  border: 1px solid black;
}
