#one-speech-body {
  background-color: #F4F4F4;
  min-height: 100vh;
}

#title-box {
  background-color: #D8D8D8;
  color: rgb(0, 0, 0);
  // text-align: center;
  display: flex;
  align-items: center;
  border-radius: 8px;
  box-shadow: 2px 2px 15px rgba(90, 90, 90, 0.7) !important;
}

.text-end{
  margin: 40px;
}

.speech_box {
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  background-color: white;
  border-radius: 8px;
}

#back-to-my-speeches {
  text-align: right;
}
