<div class="footer">
  <div class="container">
    <div class="row py-3">
      <div class="col col-md-3">
        <div class="footer-links py-3">
          <a class="btn btn-floating m-1" style="background-color: #333333;" href="#!" role="button">
            <i class="fab fa-github"></i>
          </a>
          <a class="btn btn-floating m-1" style="background-color: #ac2bac;" href="#!" role="button">
            <i class="fab fa-instagram"></i>
          </a>
          <a class="btn btn-floating m-1" style="background-color: #3b5998;" href="#!" role="button">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a class="btn btn-floating m-1" style="background-color: #55acee;" href="#!" role="button">
            <i class="fab fa-twitter"></i>
          </a>
          <a class="btn btn-floating m-1" style="background-color: #0082ca;" href="#!" role="button">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </div>
      <div class="col col-md-6">
        <div class="footer-copyright text-center">
          <p>Copyright &copy; 2022 by MyEnglishSpeech. All rights reserved.</p>
          <a href="https://www.freepik.com/vectors/recording">Recording vector created by pch.vector - www.freepik.com</a>
        </div>
      </div>
      <div class="col col-md-3"></div>
    </div>
  </div>
</div>
