<div class="footer">
  <div class="footer-links my-5">
    <a class="btn btn-floating m-1" style="background-color: #333333;" href="#!" role="button">
      <i class="fab fa-github"></i>
    </a>
    <a class="btn btn-floating m-1" style="background-color: #ac2bac;" href="#!" role="button">
      <i class="fab fa-instagram"></i>
    </a>
    <a class="btn btn-floating m-1" style="background-color: #3b5998;" href="#!" role="button">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a class="btn btn-floating m-1" style="background-color: #55acee;" href="#!" role="button">
      <i class="fab fa-twitter"></i>
    </a>
    <a class="btn btn-floating m-1" style="background-color: #0082ca;" href="#!" role="button">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </div>
  <div class="footer-copyright text-center my-5">
    This footer is made with MyEnglishSpeech member<i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
