<div class="home-page">
  <div class="home-header">
    <div class="container">
      <div class="row">
        <div class="col col-md-6 offset-md-2 col-lg-6 offset-lg-3 col-xl-5 offset-xl-3">
          <div class="hero-text-box">
            <h1>MyEnglishSpeech</h1>
            <h2>Your words, perfected</h2>
            <a href="#" class="btn btn-full">Record a speech</a>
            <a href="#" class="btn btn-ghost">About this service</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section></section>
  <section></section>
  <section></section>
</div>
