<div class="home-page">
  <%# Banner %>
  <div class="home-header">
    <div class="container">
      <div class="row">
        <div class="col col-md-6 offset-md-1 offset-lg-2">
          <div class="hero-text-box">
            <h1>MyEnglishSpeech</h1>
            <h2>Your words, perfected</h2>
            <a href="#" class="btn btn-full">Record a speech</a>
            <a href="#" class="btn btn-ghost">About this service</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%# What is MyEnglishSpeech? %>
  <section id="explanation">
    <div class="container">
      <div class="row" id="overview"></div>
      <div class="row" id="icons"></div>
    </div>
  </section>
  <section id="product-sample"></section>
  <section id="how-it-works"></section>
  <section id="why-speeches"></section>
  <section id="reviews"></section>
  <section id="contact-us"></section>
</div>
