<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(	https://img.freepik.com/free-vector/job-interview-conversation_74855-7566.jpg?w=1800);">
  <div class="container">
    <h1>My English Speech's your speeches!</h1>
  </div>
</div>
<div id="index-body">
<div class="container my-5">
  <div class="container-speech">
    <% @speeches.each do |speech| %>
      <%# <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)"> %>
      <%= render 'speech_card', speech: speech %>
      <%# </div> %>
    <% end %>
  </div>
  <div class="cards my-5">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(	https://img.freepik.com/free-vector/search-concept-landing-page_52683-11001.jpg?w=1480)">
      <a href="http://[::1]:3000/">Home</a>
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.freepik.com/free-vector/microphone-sound-illustration_24908-61095.jpg?w=1060)">
      <a href="http://[::1]:3000/speeches/new">Recording</a>
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(	https://img.freepik.com/free-vector/landing-page-credit-card-payment-concept_52683-25085.jpg?w=1380)">
      Payment
    </div>
  </div>
</div>
</div>
</div>
