<div id="one-speech-body">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col col-md-4">
        <div class="my-2 p-1 overflow-auto w-100" id="title-box">
          <h2>Title: <%= @speech.title %></h2>
        </div>
      </div>
      <div class="col col-md-4 text-center">
        <% if current_user.teacher? %>
          <form action="/speeches/new">
            <input class="d-none" type="text" name="training" value=<%= @speech.training.id %>>
            <button class="btn btn-info p-3 my-2" type="submit">Correct speech</button>
          </form>
        <% end %>
      </div>
      <div class="col col-md-4" id="back-to-my-speeches">
        <%= link_to "Back to my speeches", speeches_path, class: "btn btn-secondary p-3 my-2" %>
      </div>
    </div>
    <% @speech.training.speeches.each do |speech| %>
      <div class="row my-4 p-4 speech_box" >
        <%= render 'user_speech', speech: speech %>
      </div>
    <% end %>
  </div>
</div>
