<div class="banner" id="index-banner">
  <div class="container">
    <h1>My Speech</h1>
  </div>
</div>
<div id="one-speech-body">
  <div class="container">
    <% @speech.training.speeches.each do |speech| %>
      <div class="row my-4 p-4 speech_box" >
        <%= render 'user_speech', speech: speech %>
      </div>
    <% end %>
  </div>
</div>
