.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-top: 90px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#index-banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://res.cloudinary.com/dqco8z2dj/image/upload/v1646724180/development/podcasts_xk90gy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
}
