.card-trip {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0.5rem;
  height: 300px;
  width: 400px;
  margin: 20px;
  display: grid;
  align-items: center;
  color: rgb(19, 18, 18);
  background-color: white;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 0 0 15px rgba(90, 90, 90, 0.2);
  .contents{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
  }
}

.shadow {
  box-shadow: 2px 2px 10px rgba(90, 90, 90, 0.4) !important;
  border-radius: 8px;
  position: relative;
  padding: 15px;
  background-color: #454D77;
  color: #fff;
  height: 315px;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &.light {
    background-color: #f0f0f0;
    color: rgb(0, 0, 0);
  }
  &.white {
    background-color: #FFFCF2;
    color: rgb(0, 0, 0);
  }
}
.shadow::-webkit-scrollbar {
  display: none;
}

#speech-title {
  margin: 7px 15px;
}

.speech-title {
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0px;
}

.speech-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px !important;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .shadow {
    margin-bottom: 15px;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .shadow {
    margin-bottom: 15px;
  }
}
