.footer {
  background: #464D77;
  align-items: center;
  justify-content: space-between;
  // height: 30%;
  // padding: 10px 50px;
  color: #F4F4F4;
  a {
    text-decoration: none;
    display: block;
  }
}

.footer-links {
  display: flex;
  justify-content: center;
}

.footer-links a {
  color: white;
  opacity: 0.35;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  width: 40px;
  height: 40px;
  transition: opacity 0.8s;
}

.footer-links a:hover {
  opacity: 1;
  color: white;
}

.footer .fa-heart {
  color: #D23333;
}
