.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  height: 90px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  margin-top: 10px;
}

.navbar {
  transition: all 0.4s;
}

.navbar-nav {
  align-items: center;
}

.navbar .nav-link {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: large;
}

.nav-p {
  margin-top: 16px;
  padding: 8px;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: large;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #ff725c;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #fff;
}

/* Change navbar styling on scroll */
.navbar.active {
  background: #454d77;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: white;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: white;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: white;
}

/* Change navbar styling on small viewports */

@media (max-width: 575px){
  .navbar {
    background: #454d77;
  }
  .navbar-lewagon .navbar-brand img {
    width: 64px;
    margin-top: 0px;
  }
  .navbar .navbar-brand,
  .navbar .nav-link {
    color: white;
  }
  .navbar-lewagon {
    height: 70px;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .navbar {
    background: #454d77;
  }
  .navbar-lewagon .navbar-brand img {
    width: 90px;
    margin-top: 0px;
  }
  .navbar .navbar-brand,
  .navbar .nav-link {
    color: white;
  }
}
